@import '_colors';
@import "bootstrap/scss/bootstrap.scss";

.btn-primary {
    background-color: $btn-primary-color;
}

// @mixin marginBottom($bottom) {
//     margin-bottom:$bottom;
// }

@mixin boxShadow($h-offset,$v-offset,$blur,$spread,$color){
    box-shadow: $h-offset $v-offset $blur $spread $color;
}

.container {
    div {
        div {
            img {
                @include boxShadow(5px,10px,9px,0px,#888888);
            }
        }
    }
}

.footer {
    background-color: $footer-bg;
    padding:15px;
}
 
@media only screen 
and (max-width : 767px) {
    .nav-item a {
                       color: white !important
                 }
}
